body {
    background-image: url("images/experiment.png");
    background-color: #ffffff;
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-position: left 100px;
}

.log {
    position: absolute;    
    bottom: 0px;
    top: 630px;
    left: 10px;
    width: 300px;
    height: 25px;
    background-color: rgba(253, 253, 253, 0.349);
}

.info {
    position: absolute;
    top: 650px;
    left: 10px;
    width: 940px;
    height: 200px;
    background-color: rgb(255, 255, 254);
    
    border-color:rgb(135, 135, 135);
    border-top-width: 1px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    overflow-y: scroll;
    white-space: pre-line;
    text-align: justify;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: rgb(5, 5, 5);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    overflow-y:auto;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.detailsTitle{
    padding-left:10px;
    position: absolute;
    top: 40px;
    left: 950px;
    width: 400px;
    height: 40px;
    display: block;
    font-weight:bold;
    font-size:large;
}

/* Information container */
.details {
    position: absolute;
    top: 80px;
    left: 950px;
    width: 400px;
    height: 850px;
    display: block;
    cursor: pointer;
    z-index: 105;
    overflow-y: scroll;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left:10px;
    border-left-width: 1px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    border-color: rgb(108, 107, 107);
    background-color: rgba(250, 250, 248, 0.359);
    color: rgb(58, 58, 58);
    text-align: left;
    z-index: 10;

}